html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
}

#gallery .container h1{
    text-align: center;
    margin-top: 2%;
    font-size: 35px;
    color: rgb(104, 10, 10);
}

.slider{
    margin-bottom: 20px;
    position: relative;
}

.slider .owl-item.active.center .slider-card{
    transform: scale(1.15);
    opacity: 1;
    background-color: #ccc;
    color: #fff;
}

.slider .slider-card{
    background-color: #fff;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    transform: scale(0.8);
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.owl-nav .owl-next{
    position: absolute;
    top: calc(45% - 25px);
    right: 0;
    opacity: 1;
    z-index: 1; 
    font-size: 40px !important;
}

.owl-nav .owl-prev{
    position: absolute;
    top: calc(45% - 25px);
    left: 0;
    opacity: 1;
    z-index: 1; 
    font-size: 40px !important;
}

#blog{
    background-color: rgb(113, 9, 9);
    color: #fff;
}

#blog .container{
    padding-top: 5px;
    padding-bottom: 5px;
}

.carousel-item{
    height: auto;
    background: #777;
    margin-top: 5%;
    position: relative;
}

.carousel-item img{
    opacity: 0.5;
    width: 100%;
}

.carousel-item .container.text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 15rem !important;
    padding-left: 40px !important;
}

.btn-primary{
    background-color: rgb(113, 9, 9);
    border-color: rgb(113, 9, 9);
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover{
    background-color: #000;
    border-color: #000;
    transition: all 0.3s ease-in-out;
}

#blog .carousel-control-prev-icon, #blog .carousel-control-next-icon{
    font-weight: 800;
}






